<!DOCTYPE html>
<html>
<head>
	<title>David Liu Website</title>
	<link type="text/css" rel="stylesheet" href="/css/maincss.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

	<div class="topnav" id="myTopnav">
	  <a href="" class="active">Home</a>
	  <a href="labs">Labs</a>
	  <a href="undefined">404 Page</a>
	  <a href="4">Facts About 4</a>
	</div>
	<h1>Main Entry Page</h1>

	<div>
		<p style="font-family:verdana">Made by David Liu</p>
		<button onclick="pageRedirect()">Labs Page</button>
	</div>
	<script>
    	function pageRedirect() {
    	    window.location.replace("/labs");
    	}

		function myFunction() {
		  var x = document.getElementById("myTopnav");
		  if (x.className === "topnav") {
		    x.className += " responsive";
		  } else {
		    x.className = "topnav";
		  }
		}

	</script>
</body>
</html>